body{
background-color:#222;
color:#CCC;
}

ul.list-group, li.list-group-item{
background-color:transparent;
border: none;
}

.panel.panel-default{
border-color:transparent;
color: black;
}

.panel.panel-default.userdata{
color: black;
border-color:transparent;
color:#EEEEEE;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: 0px 0px 7px #1FF;
}

.panel.panel-default.userdata ul li span{
text-shadow: 0px 0px 7px #FF5C00;
}

.panel.panel-default.userdata ul li span a{
text-shadow: 0px 0px 7px #1FF;
color: azure;
text-decoration: underline;
}

.navbar-brand{
color:white!important;
text-shadow: 0px 0px 8px #1FF;
}

.navbar-brand:hover{
text-shadow: 0px 0px 12px #1FF;
}

.panel .panel-heading{
background-color:#555;
color:white;
border-color:transparent;
text-shadow: 0px 0px 8px #1FF;
}

.panel .panel-heading h3{
font-weight:700;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
border:none;
}

a{
color:#0000EE;
}

a:hover{
color:#0000EE;
}

.facturacion{
background-color:#FFE30D;
}

.recargas{
background-color:#7DA4DB;
}

.llamadas{
background-color:#FF2989;
}

.userdata{
background-color:transparent;
}

#img-logo{
float:right;
}

#content{
color:#CCC;
}

#content a{
color:#FFF;
font-weight:bold;
text-decoration:underline;
}

#content .form-group h1{
color:#333;
}

footer .navbar{
border:none;
background:none;
margin-bottom:0px;
}

.darkform{
background-color:#333;
}

.darkform label{
color:#BBB;
}

.darkform .list-group {
margin-bottom: 6px;
}

.btn-dark{
background-color:#666;
color:#DDD;
}

.btn-dark:hover{
background-color:#999;
color:#FFF;
}