<!DOCTYPE html>
<html>
	<head>
		<title>Lorea PBX</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/tpl/css/bootstrap.min.css">
		<link rel="stylesheet" href="/tpl/css/main.css">
	</head>

	<body>
	
	<nav class="navbar navbar-inverse" style="border-radius: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">%%logo%%</a>
    </div>
	
	<ul class="nav navbar-nav">
        <li><a href="/user/%%user%%">Mis Datos</a></li>
        <li id="voip"><a href="/voip">Listado Telefónico</a></li>
		<li id="stats"><a href="/stats">Estadísticas</a></li>
	</ul>
	
	 <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">%%username%% <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
			<li><a href="/voicemail/%%user%%">correo de voz</a></li>
            <li><a href="/options/%%user%%">opciones</a></li>
            <li class="divider"></li>
            <li><a href="/logout">logout</a></li>
          </ul>
        </li>
      </ul>

  </div>
</nav>
	
	<section id="img-logo"><img src="/tpl/hard-hat.png"/></section>
			
<div id="content" class="container col-md-6 col-md-offset-3">
<!-- <section id="content_inner"> -->
%%content%%
<!-- </section> -->
</div>

<footer>
    <div class="navbar navbar-inverse navbar-static-bottom">
                <ul class="nav navbar-nav pull-right">
				<li id="docs"><a href="/docs">Documentación</a></li>
				<li id="prices"><a href="/prices">Precios</a></li>
                </ul>
    </div>
</footer>	


				<!-- <section id="listado-enlaces"> -->
				<!--
				<ul>
				%%LINKS%%
				</ul>
				-->
				<!-- </section> -->

			
	<script type="text/javascript" src="/tpl/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/tpl/js/obelisk.js"></script>
	<script type="text/javascript" src="/tpl/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
	var path = window.location.pathname;
	var correct_path = path.substr(1);
	$("#" + correct_path).addClass("active");
	});	
	</script>
	</body>

</html>

