<div class="form-group">
    <h1>Cambiar Contraseña</h1>
	</div>
<div class="panel panel-default darkform">  
	<form method='POST' action='/password'>
	<ul class="list-group">
    <li class="list-group-item">
	  <label>Contraseña actual:
	    <input type="password" name="password" class="form-control input-lg" placeholder="Contraseña actual" required="">
	  </label>
	</li>
	<li class="list-group-item">
	  <label>Nueva contraseña:
	    <input type="password" name="newpassword1" class="form-control input-lg" placeholder="Nueva contraseña" required="">
	  </label>
	</li>
	<li class="list-group-item">
	  <label>Repetir nueva contraseña:
	    <input type="password" name="newpassword2" class="form-control input-lg" placeholder="Repetir nueva contraseña" required=""><input type='hidden' name='ext' value='%%ext%%' />
	  </label>
	</li>
    <li class="list-group-item"><input name='submit' class="btn btn-lg btn-dark btn-block" type="submit" value="Cambiar contraseña"/></li>
	</ul>
	</form>
</div>