<!DOCTYPE html>
<html>
	<head>
		<title>Lorea PBX - home - %%ext%%</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/tpl/css/bootstrap.min.css">
		<link rel="stylesheet" href="/tpl/css/main.css">
	</head>

	<body>
	
	<nav class="navbar navbar-inverse" style="border-radius: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">%%logo%%</a>
    </div>
	
	<ul class="nav navbar-nav">
        <li class="active"><a href="#">Mis Datos</a></li>
        <li><a href="/voip">Listado Telefónico</a></li>
		<li><a href="/stats">Estadísticas</a></li>
	</ul>
	
	 <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">%%username%% <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
			<li><a href="/voicemail/%%ext%%">correo de voz</a></li>
            <li><a href="/options/%%ext%%">opciones</a></li>
            <li class="divider"></li>
            <li><a href="/logout">logout</a></li>
          </ul>
        </li>
      </ul>

  </div>
</nav>

<div class="container col-md-6 col-md-offset-3">

<div class="panel panel-default userdata">  
	<ul class="list-group">
    <li class="list-group-item"><strong>Crédito:</strong> <span>%%credit%% %%credit_link%%</span></li>
    <li class="list-group-item"><strong>Numero PLN:</strong> <span>0000 10 %%ext%%</span></li>
	</ul>
</div>



	<div class="panel panel-default facturacion">
      <!-- Default panel contents -->
      <div class="panel-heading">
	  <h3 class="panel-title">Facturación</h3>
	  </div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Destino</th>
            <th>Duración</th>
            <th>Coste de la llamada</th>
			<th>Precio por minuto</th>
			<th></th>									
          </tr>
        </thead>
        <tbody id="accounting_tbody">
        %%calls%%
        </tbody>
      </table>
	</div>
	
	<div class="panel panel-default recargas">
	  <div class="panel-heading">
	  <h3 class="panel-title">Recargas</h3>
	  </div>
	  
	  <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Realizada por</th>
          </tr>
        </thead>
        <tbody>
        %%charges%%
        </tbody>
      </table>
	</div>
	
	<div class="panel panel-default llamadas">
	  <div class="panel-heading">
	  <h3 class="panel-title">Llamadas</h3>
	  </div>
	  
	  <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
			<th>Numero de origen</th>
			<th>Destino</th>
            <th>Duración</th>
            <th>Resultado</th>
          </tr>
        </thead>
        <tbody>
        %%all_calls%%
        </tbody>
      </table>
    </div>
</div>

<footer>
  <div class="navbar navbar-inverse navbar-static-bottom">
	<ul class="nav navbar-nav pull-right">
	  <li id="docs"><a href="/docs">Documentación</a></li>
	  <li id="prices"><a href="/prices">Precios</a></li>
	</ul>
  </div>
</footer>

		<script type="text/javascript" src="/tpl/js/jquery-1.11.1.min.js"></script>
    	<script type="text/javascript" src="/tpl/js/obelisk.js"></script>
		<script type="text/javascript" src="/tpl/js/bootstrap.min.js"></script>
	</body>

</html>

